@{
    ViewData["title"]="Index";
}
<style>
   
</style>
<div class="bg-image">
    <div class="containercontainer-fluid bg-color">
  <div class="row">
      <div class="col-sm-12">
                <div class="text-center header-title-contact">
             <h2> About Us</h2>
             <div class="line"></div>
         </div>
        
      </div>
  </div>
  </div>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-sm-6">
            <div class="about-content mt-4">
                <p>Get started by including Bootstrap’s production-ready CSS and JavaScript via CDN without the need for any build steps. See it in practice with this Bootstrap CodePen demo.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="~/images/undraw_team_work_k-80-m.svg" class="myimage" />
        </div>
    </div>
</div>
<section id="Objective">
    <div class="container">
        <div class="text-center header-title-contact">
            <h2 class="text-black"> Objective</h2>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/undraw_profile_data_re_v81r.svg" class="myimage"/>
            </div>
            <div class="col-sm-6">
                <div class="objective-content mt-4">
                    <p>Get started by including Bootstrap’s production-ready CSS and JavaScript via CDN without the need for any build steps. See it in practice with this Bootstrap CodePen demo.Get started by including Bootstrap’s production-ready CSS and JavaScript via CDN without the need for any build steps. See it in practice with this Bootstrap CodePen demo.</p>
                </div>
            </div>
        </div>
    </div>
</section>