@{
    ViewData["title"] = "Feature";
}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Students">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Features</li>
    </ol>
</nav>
<h1>This is My feature page</h1>