@{
    ViewData["title"] = "Feature";
}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Students">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Features</li>
    </ol>
</nav>
<h1>This is My feature page</h1>
<div class="container">
    <div class="header-title-contact text-center">
        <h2 class="text-black">Our Features</h2>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card shadow">
                <div class="card-header">
                    <img src="~/images/undraw_personal_website_re_c8dv.svg" class="myimage" />
                </div>
                <div class="card-body">
                    <p>Before getting started with Bootstrap’s modal component, be sure to read the following as our menu options have recently changed.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow">
                <div class="card-header">
                    <img src="~/images/undraw_personal_website_re_c8dv.svg" class="myimage" />
                </div>
                <div class="card-body">
                    <p>Before getting started with Bootstrap’s modal component, be sure to read the following as our menu options have recently changed.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow">
                <div class="card-header">
                    <img src="~/images/undraw_personal_website_re_c8dv.svg" class="myimage" />
                </div>
                <div class="card-body">
                    <p>Before getting started with Bootstrap’s modal component, be sure to read the following as our menu options have recently changed.</p>
                </div>
            </div>
        </div>
    </div>
</div>